.App {
  width: 100%;
  height: 100%;
  position: relative;
}

.App__canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.App__toolbar {
  position: relative;
  margin: 4px;
  padding: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  z-index: 2;
}

.App__toolbar > *:not(:last-child) {
  margin-right: 4px;
}
